<link rel="stylesheet" type="text/css" href="../css/file-upload.css">
<form id="updateArticle">
	<div class="col-12">
    	<div class="col-10">
        	<input class="col-12 textData" data-value="articleTitle" name="articleTitle" id="articleTitle" style="font-size: large; font-weight: bold;" type="text" placeholder="Title of Article" required>
        </div>
        <div class="col-2">
			<button id="button-upload" class="button-rounded chat-upload flex col-12" style="font-size: medium; font-weight: bold;">Upload Article Image</button>
        </div>
	</div>
    <div class="col-12">
    	<textarea name="articleDesc" id="articleDesc" data-value="articleDesc" cols="170" rows="30" placeholder="Enter Article Description......." required></textarea>						
	</div>
</form>