<div class="col-12">
	<div class="col-3 col-s-12">
		<div class="col-12 col-s-6">
			<h2 data-content="diseaseNameSin"></h2>
			<h2 data-content="diseaseNameEng"></h2><br>
		</div>
		<div class="col-12 col-s-6">
		    <img src="../img/placeholder.jpg" class="block-img">
		    <!--img data-src="diseaseImg" class="block-img"-->
		</div>
	</div>
	<div class="col-9">
		<div class="col-12">
			<h3>Description - විස්තර</h3>
			<h4 data-content="diseaseDescSin"></h4>
			<h4 data-content="diseaseDescEng"></h4>	
		</div>
		<div class="col-12">
			<h3>Treatments - ප්‍රතිකාර</h3>
			<h4 data-content="treatmentSin"></h4>
			<h4 data-content="treatmentEng"></h4>	
		</div>
	</div>
</div>