<div data-class="type" data-id="id">
	<div style="min-width: 20px; max-width: 20px;"></div>
	<div class="bubble">
		<div class="flex">
			<img class="avatar" data-src="imgUrl">
		</div>
		<div style="min-width: 2rem; max-width: 2rem;"></div>
		<div>
			<div class="msgtag">
				<div data-content="name" style="font-size: small; font-weight: 600;"></div>
				<div style="width: 10px"></div>
				<div data-content="time" style="font-size: xx-small; color: gray; align-self: center;"></div>
			</div>
			<p data-content="text" style="text-align: justify;"></p>
		</div>
	</div>
	<div style="min-width: 20rem;"></div>
</div>