<div class="col-12">
	<div class="col-3 col-s-12">
		<div class="col-12 col-s-6">
			<h2 data-content="pestNameSin"></h2>
			<h2 data-content="pestNameEng"></h2><br>
			<div>
				<h3>Scientific Name :</h3>
				<h3 data-content="pestSciName"></h3>
			</div><br>	
		</div>
		<div class="col-12 col-s-6">
		    <img src="../img/placeholder.jpg" class="block-img">
		    <!--img data-src="pestImg" class="block-img"-->
		</div>
	</div>
	<div class="col-9">
		<div class="col-12">
			<h3>Description - විස්තර</h3>
			<h4 data-content="pestDescSin"></h4>
			<h4 data-content="pestDescEng"></h4>	
		</div>
		<div class="col-12">
			<h3>Pesticide - කෘමිනාශක</h3>
			<h4 data-content="pesticideSin"></h4>
			<h4 data-content="pesticideEng"></h4>	
		</div>
	</div>
</div>
