<div class="col-6 col-s-12">
	<div class="border content-center">
		<div class="col-4">
			<img data-src="../img/vegetable/egg.png" width="150px" height="auto">
		</div>
		<div class="col-2 text-left">
			<h3 data-content="name"></h3>
			<h4 data-content="ground"></h4>
		</div>
		<div class="col-3">
			<div class="btn-add_minus" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
			<input type="number" class="text-add_minus" id="number" value="0">
			<div class="btn-add_minus" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
		</div>
		<div class="col-3">
			<h3></h3>
		</div>
	</div>
</div>