<div class="block-cont block-s-cont">
	<div class="col-2">
		<img data-src="plantImg" height="70px" style="padding-right: 10px;">
	</div>
	<div class="col-2 text-left">
		<h3 data-content="name"></h3>
		<p data-content="area"></p>
		<button class="btn-s" style="background-color: red;" onclick="">Remove</button> 
	</div>
	<div class="col-2">
		<div class="dataBlock" style="padding-top: 0px;">
			<p>No. of Plants</p>
			<p data-content="numberOfPlants"></p>	
		</div>
	</div>
	<div class="col-2">
		<div class="dataBlock" style="padding-top: 0px;">
			<p>Next Watering Day</p>
			<p data-content="nextWateringDate"></p>	
		</div>
	</div>
	<div class="col-2">
		<div class="dataBlock" style="padding-top: 0px;">
			<p>Next Fertilizing Date</p>
			<p data-content="nextFertilizerDate"></p>	
		</div>
	</div>
	<div class="col-2">
		<div class="dataBlock" >
			<p>Days to Harvest</p>
			<p data-content="harevstDate"></p>	
		</div>
	</div>
</div>