<!-- Method of displaying articles in Blog -->
<script>
	$("button").click(function(){
		var plantID = $(this).val();
		openPlantDesc(plantID)
	});
</script>

<div class="col-3">
	<div class="col-3 border-imgtxt">
		<div class="col-12">
			<img data-src="plantImg" class="block-img">
		</div>
		<div class="col-12" style="text-align: center;">
			<div class="col-8">
				<h3 data-content="plantNameSin"></h3>
				<h3 data-content="plantNameEng"></h3>			
			</div>
			<div class="col-4">
				<button class="btn" data-value="plantID">View</button>			
			</div>
		</div>
	</div>
</div>