<script>
	$("button").click(function(){
		var requestID = $(this).val();
		openRequest(requestID);
	});
</script>

<div class="col-12 border">
	<div class="col-1">
		<img src="../img/icon/user.png" width="100%">                        
	</div>
	<div class="col-5">
		<h3 data-content>ABC shop</h3>
		<h4 data-content="requestDate"></h4>                            
	</div>
	<div class="col-3" style="margin-top: 10px;">
		<h2 data-content="requestState"></h2>
	</div>
	<div class="col-3" style="margin-top: 10px;">
		<button class="btn-mini" data-value="requestID">View</button>
	</div>
</div>