<!--div id="content-load">
	<b data-content="userID"></b>
	<b data-content="registered"></b>
	<b data-content="email"></b>
	<b data-content="firstName"></b>
	<b data-content="lastName"></b>
	<b data-content="userType"></b>
</div-->

<div class="col-12 border">
	<div class="col-1">
		<img src="../img/icon/user.png" width="30px" height="30px">                        
	</div>
	<div class="col-6" style="margin-top: 10px;">
		<h3 data-content="addCompany"></h3>
	</div>
	<div class="col-3" style="margin-top: 10px;">
		<h4 data-content="addDate"></h4>
	</div>
</div>