<div class="col-12 col-s-12">
	<div class="col-8">
		<div class="col-12 col-s-12">
			<div class="col-12">
				<h3><b>Email : </b></h3>
				<h3 data-content="email"></h3>
			</div>
			<div class="col-2">
				<h3><b>First Name : </b></h3>
			</div>
			<div class="col-4">
				<h3 data-content="firstName"></h3>
			</div>
			<div class="col-2">
				<h3><b>Last Name : </b></h3>
			</div>
			<div class="col-4">
				<h3 data-content="lastName"></h3>
			</div>
		</div>
		<div class="col-12 col-s-12">
			<div class="col-3">
				<h3><b>Contact Number : </b></h3>
			</div>
			<div class="col-2">
				<h3 data-content="contactNum"></h3>
			</div>
		</div>
	</div>
	<div class="col-4">
		<img data-src="profilePicture" class="block-img">
	</div>
</div>