.dropdown {
  position: relative;
  display: inline-block;
}
.user-dropdown-content {
  height: auto;
  right: 0;
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 180px;
  overflow: auto;
  z-index: 1;
  box-shadow: 0px 1px 10px 0px rgb(197, 197, 197);
}
.user-dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #92d034;
  color: WHITE;
}
.show-user {
  display: block;
}
