.container {
    position: absolute; 
    text-align: center;
    background-color: white;
    border-radius: 15px;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 75px;
    box-shadow: 0px 1px 10px 0px rgb(197, 197, 197);
}
.logo{
    width: 75%;
    padding: 5px;
}
.logo-popup{
    width: 50%;
    padding: 5px;
}
.textInput {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px 10px 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}
.content {
    padding: 0px 50px 375px 50px;
}
.btn-word:hover {
    color: rgb(16, 184, 16);
}

@media only screen and (max-width: 600px) {
    .container-s {
        position: absolute; 
        text-align: center;
        background-color: white;
        border-radius: 15px;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        box-shadow: 0px 1px 10px 0px rgb(197, 197, 197);
    }
    .content-s {
        padding: 0px 15px 300px 15px;
    }
    .textInput-s {
        width: 100%;
        font-size: 12px;
        padding: 8px 16px 8px 4px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
    }
}